* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Khula", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.6;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #fbf9ff; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  line-height: 1.5;
  color: #070707; }

.heading-1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 8rem; }

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-size: 7.2rem; }

.heading-3 {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-size: 4.8rem; }

.heading-4 {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-size: 3.6rem; }

.paragraph {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.9rem; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4.5rem 9rem;
  padding-bottom: 1rem;
  width: -webkit-fill-available;
  z-index: 999;
  display: flex;
  color: #fbf9ff; }
  .nav--no-fix {
    position: relative; }
  .nav__logo {
    width: 15rem;
    height: 15rem;
    cursor: pointer; }
    .nav__logo img {
      display: block;
      width: 100%;
      height: 100%; }
  .nav__link {
    display: inline-block;
    margin-right: 5rem; }
    .nav__link > a {
      text-decoration: none;
      user-select: none;
      color: #fbf9ff;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s ease-in-out; }
      .nav__link > a:hover {
        color: #9a9ca1;
        transform: translateY(-2px); }
      .nav__link > a:active {
        transform: translateY(1px); }
  .nav__desktop {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: flex; }
    @media (max-width: 1330px) {
      .nav__desktop {
        display: none; } }
  .nav__links {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 2.4rem;
    list-style: none;
    color: #fbf9ff; }
    .nav__links--inverted a {
      color: #070707 !important; }
  .nav > button {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto; }
  .nav__menu-trigger {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto; }
    .nav__menu-trigger > img {
      display: block;
      width: 9rem;
      height: 9rem; }
  .nav__mobile {
    position: absolute;
    display: none;
    z-index: 999;
    background-color: #0000005e;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0; }
    .nav__mobile--active {
      display: block; }
    .nav__mobile__content {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40rem;
      background-color: #fbf9ff;
      box-shadow: 0px 3px 6px #00000029;
      padding: 4.5rem 2.5rem; }
    .nav__mobile__logo {
      display: block;
      width: 14rem;
      height: 14rem;
      margin-top: 6rem;
      margin-left: auto;
      margin-right: auto; }
    .nav__mobile__links {
      position: relative;
      text-align: center;
      padding-bottom: 5.75rem;
      margin-top: 5rem; }
      .nav__mobile__links::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 14rem;
        height: 3px;
        background-color: #707070; }
    .nav__mobile__link > a {
      text-decoration: none;
      user-select: none;
      font-size: 2.4rem;
      color: #070707; }
    .nav__mobile__link:not(:first-child) {
      margin-top: 2.25rem; }
    .nav__mobile__button {
      display: inherit;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto; }

.btn {
  padding: 2rem 3rem;
  user-select: none;
  font-size: 2.4rem;
  border-radius: 1.5rem;
  color: #ffffff;
  background-color: #514a9d;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in; }
  .btn:hover {
    background-color: #413c7c;
    transform: translateY(-2px); }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: translateY(1px); }
  .btn--large {
    padding: 2.5rem 3rem;
    border-radius: 2rem; }
  .btn--inverted {
    color: #514a9d;
    background-color: #ffffff; }
    .btn--inverted:hover {
      background-color: #fdfdfd; }

.indicator {
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  font-weight: 700;
  width: 6rem;
  height: 6rem;
  color: #514a9d;
  background-color: #fbf9ff;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  transition: transform 0.15s ease-in;
  user-select: none; }
  .indicator:hover {
    transform: translateY(-2px); }
  .indicator:active {
    transform: translateY(1px); }

.card {
  border-radius: 4.5rem;
  box-shadow: 0px 3px 6px #00000029;
  width: -webkit-fill-available; }
  .card__header {
    margin-top: 4.5rem; }
  .card__paragraph {
    margin-top: 3rem;
    color: #707070; }
  .card__button {
    margin-top: 6.5rem; }
  .card__image {
    display: block;
    width: 100%;
    border-radius: 4.5rem; }
  .card__icon {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 11rem; }
  .card--info {
    padding: 6.5rem;
    padding-top: 11rem;
    padding-bottom: 10rem; }

.label {
  display: block;
  font-size: 3.6rem;
  color: #070707;
  margin-left: 1rem; }

.input {
  display: block;
  width: -webkit-fill-available;
  border-radius: 4.5rem;
  border: 1px solid #070707;
  padding: 2.8rem 4.5rem;
  font-size: 2.4rem; }
  .input::placeholder {
    color: #07070782; }

.textarea {
  display: block;
  border-radius: 4.5rem;
  border: 1px solid #070707;
  padding: 2.8rem 4.5rem;
  font-size: 2.4rem;
  font-family: "Khula", sans-serif;
  width: -webkit-fill-available;
  resize: none; }
  .textarea::placeholder {
    color: #07070782; }

.footer {
  display: grid;
  row-gap: 5.2rem;
  color: #fbf9ff;
  background-color: #514a9d;
  grid-template: "image . . quick-links . socials" "legal . . . . .";
  padding: 4.5rem 25rem 4.5rem 5rem; }
  @media (max-width: 1250px) {
    .footer {
      display: block;
      text-align: center;
      padding: 5rem;
      padding-top: 7rem; } }
  .footer__header {
    font-size: 4rem;
    margin-bottom: 2rem; }
  .footer__img {
    display: block;
    grid-area: image;
    width: 22.5rem;
    height: 22.5rem; }
    @media (max-width: 1250px) {
      .footer__img {
        margin-left: auto;
        margin-right: auto; } }
  .footer__legal {
    grid-area: legal;
    font-size: 2.4rem; }
    @media (max-width: 1250px) {
      .footer__legal {
        margin-top: 17rem; } }
  .footer__link > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.4rem; }
  .footer__link:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__links {
    grid-area: quick-links;
    margin-top: 3.8rem;
    list-style: none; }
    @media (max-width: 1250px) {
      .footer__links {
        margin-top: 5rem; } }
  .footer__socials {
    grid-area: socials;
    margin-top: 3.8rem; }
    @media (max-width: 1250px) {
      .footer__socials {
        margin-top: 7rem; } }
    .footer__socials__link {
      position: relative;
      display: inline-block;
      width: 5rem;
      height: 5rem;
      background-color: #fbf9ff;
      border-radius: 50%; }
      .footer__socials__link:not(:last-child) {
        margin-right: 1.5rem; }
      .footer__socials__link__icon {
        position: absolute;
        width: 2.4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.header {
  position: relative;
  height: 100vh;
  background-image: url("public/images/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center; }
  .header__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070707ad; }
  .header__content {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2; }
    .header__content > a {
      margin: auto;
      margin-bottom: 7.5rem; }
  .header__text {
    text-align: center;
    margin-top: 30rem;
    color: #fbf9ff; }
    .header__text--main {
      display: block;
      font-size: 3.6rem;
      font-weight: 400; }
    .header__text--sub {
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 7.2rem;
      font-weight: 800; }
  .header__buttons {
    display: flex;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto; }
    .header__buttons > button {
      margin: 0 2.9rem; }

.about-us {
  padding: 15rem;
  padding-top: 25rem; }
  .about-us__difference {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .about-us__difference > p {
      position: relative;
      width: 82.5rem;
      margin-top: 15rem;
      margin-left: auto;
      margin-right: auto; }
      .about-us__difference > p::before {
        content: "";
        bottom: -5.75rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 25%;
        height: 1px;
        background-color: #070707; }
  .about-us__cooler {
    margin-top: 30rem; }
    .about-us__cooler__content {
      display: flex;
      margin-top: 15rem; }
      .about-us__cooler__content__card {
        flex: 1;
        margin: auto 0;
        padding: 7rem 10rem;
        height: min-content; }
        .about-us__cooler__content__card > p {
          margin-top: 8rem; }
        .about-us__cooler__content__card button {
          margin-top: 5rem; }
      .about-us__cooler__content__preview {
        flex: 1;
        display: flex; }
        .about-us__cooler__content__preview__image {
          display: block;
          margin: auto;
          height: 70rem; }

.your-help {
  padding: 15rem;
  padding-top: 5rem; }
  .your-help__content {
    display: flex;
    margin-top: 15rem; }
    .your-help__content__card {
      margin: 0 9rem; }

.contact-us {
  padding: 15rem;
  padding-top: 5rem; }
  .contact-us__content {
    display: grid;
    grid-template: "info form form";
    margin-top: 15rem; }
    .contact-us__content__info {
      grid-area: info; }
      .contact-us__content__info__email {
        margin-top: 5.5rem; }
    .contact-us__content__form {
      display: block;
      grid-area: form; }
      .contact-us__content__form input {
        margin-bottom: 5rem; }
      .contact-us__content__form textarea {
        margin-bottom: 5rem; }
      .contact-us__content__form__inline-inputs {
        display: flex;
        justify-content: space-between; }
        .contact-us__content__form__inline-inputs > input:first-child {
          margin-right: 5rem; }

.team {
  padding: 5rem 12.5rem;
  padding-bottom: 40rem; }
  .team__header {
    margin-left: 0.5rem; }
  .team__tiles {
    display: grid;
    column-gap: 22.5rem;
    row-gap: 15rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 15rem; }
  .team__tile__image {
    display: block;
    width: 100%;
    height: 79rem;
    object-fit: cover;
    border-radius: 4.5rem; }
  .team__tile__header {
    margin-top: 5rem; }
  .team__tile__description {
    font-size: 3.6rem; }

.about__header {
  position: relative;
  height: 100vh;
  background-image: url("public/images/team-pic.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center; }
  .about__header__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070707ad; }
  .about__header__content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2; }
    .about__header__content__header {
      color: #fbf9ff;
      margin-top: auto;
      margin-left: 10rem;
      margin-bottom: 10rem; }

.about__mission {
  padding-top: 25rem;
  padding-bottom: 15rem;
  width: 100%; }
  .about__mission > h2 {
    margin-left: 15rem; }
  .about__mission__description {
    position: relative;
    width: 58rem;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto; }
    .about__mission__description::before {
      content: "";
      bottom: -5.75rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 25%;
      height: 1px;
      background-color: #070707; }
  .about__mission__author {
    margin-top: 15rem;
    text-align: center; }
    .about__mission__author > span {
      display: block; }

.about__values {
  padding: 20rem 15rem;
  padding-bottom: 5rem; }
  .about__values__list {
    margin-top: 15rem;
    display: grid;
    padding-left: 8rem;
    padding-right: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10rem;
    column-gap: 11.5rem; }
    .about__values__list__item__number {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
      text-align: center;
      background-color: #514a9d;
      border-radius: 50%;
      width: 20rem;
      height: 20rem;
      font-size: 7.2rem;
      color: #fbf9ff;
      line-height: 21.5rem;
      user-select: none; }
    .about__values__list__item__heading {
      margin-top: 5rem; }
      .about__values__list__item__heading > span {
        color: #514a9d; }
    .about__values__list__item > p {
      margin-top: 1rem; }

.about__annual-report {
  display: flex;
  margin-top: 15rem;
  margin-bottom: 25rem; }
  .about__annual-report > button {
    margin-left: auto;
    margin-right: auto; }

.get-involved__header {
  position: relative;
  height: 100vh;
  background-image: url("public/images/volunteer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: bottom; }
  .get-involved__header__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070707ad; }
  .get-involved__header__content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2; }
    .get-involved__header__content__header {
      color: #fbf9ff;
      margin-top: auto;
      margin-left: 10rem;
      margin-bottom: 10rem; }

.get-involved__who-are-you {
  padding: 25rem 24rem; }
  .get-involved__who-are-you > h2 {
    text-align: center; }
  .get-involved__who-are-you__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16rem;
    margin-top: 15rem; }

.get-involved__your-help > h2 {
  text-align: center; }
  .get-involved__your-help > h2 span {
    text-decoration: underline; }

.get-involved__your-help > p {
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  width: 99.6rem;
  font-size: 3.6rem; }

.get-involved__your-help__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 18rem;
  column-gap: 18.5rem;
  margin-top: 9rem; }
  .get-involved__your-help__list__item > p {
    margin-top: 1rem;
    text-align: justify; }
  .get-involved__your-help__list__icon {
    display: flex;
    width: 39rem;
    height: 39rem;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029; }
    .get-involved__your-help__list__icon img {
      display: block;
      width: 40%;
      margin: auto; }
  .get-involved__your-help__list__heading {
    text-align: center;
    margin-top: 5rem; }

.get-involved__contribute {
  margin-top: 11rem;
  padding: 0 24rem;
  padding-bottom: 31.5rem; }
  .get-involved__contribute > h2 {
    text-align: center; }
  .get-involved__contribute__options {
    display: grid;
    column-gap: 16rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 15rem; }

.letter {
  margin: 0 15rem;
  margin-top: 8rem;
  margin-bottom: 28rem; }
  .letter__content {
    display: grid;
    grid-template: "hello ." "message picture";
    column-gap: 10rem;
    row-gap: 6rem;
    margin-top: 15rem; }
    .letter__content > h3 {
      grid-area: hello; }
    .letter__content > img {
      grid-area: picture;
      display: block;
      width: 100%;
      border-radius: 2rem; }
    .letter__content > p {
      grid-area: message;
      text-align: justify;
      font-family: "Poppins", sans-serif; }
      .letter__content > p span:not(:first-child) {
        display: inline-block;
        margin-top: 3rem; }
