.about {
  &__header {
    position: relative;
    height: 100vh;
    background-image: url("/public/images/team-pic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: center;

    &__overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-overlay;
    }

    &__content {
      position: absolute;
      display: flex;
      height: 100%;
      width: 100%;
      z-index: 2;

      &__header {
        color: $color-ghost-white;
        margin-top: auto;
        margin-left: 10rem;
        margin-bottom: 10rem;
      }
    }
  }

  &__mission {
    padding-top: 25rem;
    padding-bottom: 15rem;

    width: 100%;

    & > h2 {
      margin-left: 15rem;
    }

    &__description {
      position: relative;
      width: 58rem;
      margin-top: 15rem;
      margin-left: auto;
      margin-right: auto;

      &::before {
        content: "";
        bottom: -5.75rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 25%;
        height: 1px;
        background-color: $color-black;
      }
    }

    &__author {
      margin-top: 15rem;
      text-align: center;

      & > span {
        display: block;
      }
    }
  }
}
