// COLOR VARIABLES
$color-primary: #514a9d;
$color-primary-dark: #413c7c;

$color-tertiary: #b80300;

$color-black: #070707;

$color-ghost-white: #fbf9ff;

$color-gray: #808e9a;
$color-gray-light-1: "#FDFDFD";
$color-gray-light-2: "#9A9CA1";

$color-white: #ffffff;

$shadow-1: 0px 3px 6px #00000029;

// FONT VARIABLES
$font-primary: "Khula", sans-serif;
$font-display: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: "Khula", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.6;
  min-height: 100vh;
  width: 100vw;
  background-color: $color-white;
}
