// =========== BUTTON ============
.btn {
  padding: 2rem 3rem;
  user-select: none;
  font-size: 2.4rem;
  border-radius: 1.5rem;
  color: $color-white;
  background-color: $color-primary;
  box-shadow: $shadow-1;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in;

  @media (max-width: 525px) {
    padding: 1.75rem 2.2rem;
    font-size: 2rem;
  }

  @media (max-width: 400px) {
    padding: 1.4rem 1.7rem;
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $color-primary-dark;
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
  }

  &--disabled {
    background-color: $color-gray-light-3;
    cursor: default;

    &:hover {
      background-color: $color-gray-light-3;
      transform: none;
    }
  }

  &--large {
    padding: 2.5rem 3rem;
    border-radius: 2rem;
  }

  &--inverted {
    color: $color-primary;
    background-color: $color-white;

    &:hover {
      background-color: $color-gray-light-1;
    }
  }
}

// =========== INDICATOR ============
.indicator {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  width: 6rem;
  height: 6rem;
  color: $color-primary;
  background-color: $color-ghost-white;
  border-radius: 50%;
  box-shadow: $shadow-1;
  transition: transform 0.15s ease-in;
  user-select: none;

  @media (max-width: 400px) {
    width: 4rem;
    height: 4rem;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }
}

// =========== CARD ============
.card {
  border-radius: 4.5rem;
  box-shadow: $shadow-1;
  background-color: $color-white;
  width: -webkit-fill-available;

  &__header {
    margin-top: 4.5rem;
  }

  &__paragraph {
    margin-top: 3rem;
    color: $color-gray-light-3;
  }

  &__button {
    margin-top: 6.5rem;
  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 4.5rem;
  }

  &__icon {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 11rem;
  }

  &--info {
    padding: 6.5rem;
    padding-top: 11rem;
    padding-bottom: 10rem;
    @media (max-width: 500px) {
      padding: 5rem 3.5rem;
    }
  }
}

// =========== Form Fields ============
.label {
  display: block;
  font-size: 3.6rem;
  color: $color-black;
  margin-left: 1rem;

  @media (max-width: 500px) {
    font-size: 2rem;
  }
}

.input {
  display: block;
  width: -webkit-fill-available;
  border-radius: 2rem;
  border: none;
  padding: 2.8rem 4.5rem;
  font-size: 2.4rem;
  box-shadow: $shadow-2;

  @media (max-width: 500px) {
    font-size: 1.6rem;
    padding: 1.8rem 2.5rem;
    border-radius: 2.5rem;
  }

  &::placeholder {
    color: $color-input-placeholder;
  }

  &:invalid {
    // TODO: Fix this
    // border: 2px solid $color-tertiary;
  }
}

.textarea {
  display: block;
  border-radius: 2rem;
  border: none;
  box-shadow: $shadow-2;
  padding: 2.8rem 4.5rem;
  font-size: 2.4rem;
  font-family: $font-primary;
  width: -webkit-fill-available;
  resize: none;

  @media (max-width: 500px) {
    font-size: 1.6rem;
    padding: 1.8rem 2.5rem;
    border-radius: 2.5rem;
  }

  &::placeholder {
    color: $color-input-placeholder;
  }
  &:invalid {
    border: 2px solid $color-tertiary;
  }
}

// Checkbox
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
  transition: all 0.1s ease-in-out;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $color-primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
