// =========== BUTTON ============
.btn {
  padding: 2rem 3rem;
  user-select: none;
  font-size: 2.4rem;
  border-radius: 1.5rem;
  color: $color-white;
  background-color: $color-primary;
  box-shadow: $shadow-1;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in;

  @media (max-width: 525px) {
    padding: 1.75rem 2.2rem;
    font-size: 2rem;
  }

  @media (max-width: 400px) {
    padding: 1.4rem 1.7rem;
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $color-primary-dark;
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
  }

  &--large {
    padding: 2.5rem 3rem;
    border-radius: 2rem;
  }

  &--inverted {
    color: $color-primary;
    background-color: $color-white;

    &:hover {
      background-color: $color-gray-light-1;
    }
  }
}

// =========== INDICATOR ============
.indicator {
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  font-weight: 700;
  width: 6rem;
  height: 6rem;
  color: $color-primary;
  background-color: $color-ghost-white;
  border-radius: 50%;
  box-shadow: $shadow-1;
  transition: transform 0.15s ease-in;
  user-select: none;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }
}

// =========== CARD ============
.card {
  border-radius: 4.5rem;
  box-shadow: $shadow-1;
  width: -webkit-fill-available;

  &__header {
    margin-top: 4.5rem;
  }

  &__paragraph {
    margin-top: 3rem;
    color: $color-gray-light-3;
  }

  &__button {
    margin-top: 6.5rem;
  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 4.5rem;
  }

  &__icon {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 11rem;
  }

  &--info {
    padding: 6.5rem;
    padding-top: 11rem;
    padding-bottom: 10rem;
    @media (max-width: 500px) {
      padding: 5rem 3.5rem;
    }
  }
}

// =========== Form Fields ============
.label {
  display: block;
  font-size: 3.6rem;
  color: $color-black;
  margin-left: 1rem;
}

.input {
  display: block;
  width: -webkit-fill-available;
  border-radius: 4.5rem;
  border: 1px solid $color-black;
  padding: 2.8rem 4.5rem;
  font-size: 2.4rem;

  &::placeholder {
    color: $color-input-placeholder;
  }

  &--invalid {
  }
}

.textarea {
  display: block;
  border-radius: 4.5rem;
  border: 1px solid $color-black;
  padding: 2.8rem 4.5rem;
  font-size: 2.4rem;
  font-family: $font-primary;
  width: -webkit-fill-available;
  resize: none;

  &::placeholder {
    color: $color-input-placeholder;
  }
}
