.footer {
  display: grid;
  row-gap: 5.2rem;
  color: $color-ghost-white;
  background-color: $color-primary;
  grid-template:
    "image . . quick-links . socials"
    "legal . . . . .";
  padding: 4.5rem 25rem 4.5rem 5rem;

  @media (max-width: 1250px) {
    display: block;
    text-align: center;
    padding: 5rem;
    padding-top: 7rem;
  }

  &__header {
    font-size: 4rem;
    margin-bottom: 2rem;
    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  &__img {
    display: block;
    grid-area: image;
    width: 22.5rem;
    height: 22.5rem;

    @media (max-width: 1250px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__legal {
    grid-area: legal;
    font-size: 2.4rem;
    @media (max-width: 1250px) {
      margin-top: 17rem;
    }

    @media (max-width: 600px) {
      font-size: 1.6rem;
    }
    & > span {
      display: block;
    }
  }

  &__link {
    & > a {
      color: $color-white;
      text-decoration: none;
      font-size: 2.4rem;
      @media (max-width: 600px) {
        font-size: 1.8rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
      @media (max-width: 600px) {
        margin-bottom: 1.5rem;
      }
    }

    &s {
      grid-area: quick-links;
      margin-top: 3.8rem;
      list-style: none;
      @media (max-width: 1250px) {
        margin-top: 5rem;
      }
    }
  }
  &__socials {
    grid-area: socials;
    margin-top: 3.8rem;

    @media (max-width: 1250px) {
      margin-top: 7rem;
    }

    &__link {
      position: relative;
      display: inline-block;
      width: 5rem;
      height: 5rem;
      background-color: $color-ghost-white;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      &s {
      }

      &__icon {
        position: absolute;
        width: 2.4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
