.letter {
  margin: 0 15rem;
  margin-top: 8rem;
  margin-bottom: 28rem;
  &__content {
    display: grid;
    grid-template:
      "hello ."
      "message picture";
    column-gap: 10rem;
    row-gap: 6rem;
    margin-top: 15rem;

    & > h3 {
      grid-area: hello;
    }

    & > img {
      grid-area: picture;
      display: block;

      width: 100%;
      border-radius: 2rem;
    }

    & > p {
      grid-area: message;
      text-align: justify;
      font-family: $font-display;

      & span:not(:first-child) {
        display: inline-block;
        margin-top: 3rem;
      }
    }
  }
}
