.header {
  position: relative;
  height: 100vh;
  background-image: url("public/images/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center;

  &__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;

    & > a {
      margin: auto;
      margin-bottom: 7.5rem;
    }
  }

  &__text {
    text-align: center;
    margin-top: 30rem;
    color: $color-ghost-white;

    &--main {
      display: block;
      font-size: 3.6rem;
      font-weight: 400;
    }

    &--sub {
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 7.2rem;
      font-weight: 800;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;

    & > button {
      margin: 0 2.9rem;
    }
  }
}

.about-us {
  padding: 15rem;
  padding-top: 25rem;

  &__difference {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > p {
      position: relative;
      width: 82.5rem;
      margin-top: 15rem;
      margin-left: auto;
      margin-right: auto;

      &::before {
        content: "";
        bottom: -5.75rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 25%;
        height: 1px;
        background-color: $color-black;
      }
    }
  }

  &__cooler {
    margin-top: 30rem;
    &__content {
      display: flex;
      margin-top: 15rem;

      &__card {
        flex: 1;
        margin: auto 0;
        padding: 7rem 10rem;
        height: min-content;
        & > p {
          margin-top: 8rem;
        }

        & button {
          margin-top: 5rem;
        }
      }
      &__preview {
        flex: 1;
        display: flex;

        &__image {
          display: block;
          margin: auto;
          height: 70rem;
        }
      }
    }
  }
}

.your-help {
  padding: 15rem;
  padding-top: 5rem;

  &__content {
    display: flex;
    margin-top: 15rem;

    &__card {
      margin: 0 9rem;
    }
  }
}

.contact-us {
  padding: 15rem;
  padding-top: 5rem;

  &__content {
    display: grid;
    grid-template: "info form form";
    margin-top: 15rem;

    &__info {
      grid-area: info;

      &__email {
        margin-top: 5.5rem;
      }
    }
    &__form {
      display: block;
      grid-area: form;

      & input {
        margin-bottom: 5rem;
      }

      & textarea {
        margin-bottom: 5rem;
      }

      &__inline-inputs {
        display: flex;
        justify-content: space-between;

        & > input:first-child {
          margin-right: 5rem;
        }
      }
    }
  }
}
