.header {
  position: relative;
  height: 100vh;
  background-image: url("../public/images/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center;

  &__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;

    & > a {
      margin: auto;
      margin-bottom: 7.5rem;
    }
  }

  &__text {
    text-align: center;
    margin-top: 30rem;
    color: $color-ghost-white;

    &--main {
      display: block;
      font-size: 3.6rem;
      font-weight: 400;
    }

    &--sub {
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 7.2rem;
      font-weight: 800;
    }

    @media (max-width: 1000px) {
      &--main {
        font-size: 3rem;
      }
      &--sub {
        font-size: 5rem;
      }
    }

    @media (max-width: 690px) {
      &--main {
        font-size: 2.2rem;
      }
      &--sub {
        font-size: 3.75rem;
      }
    }

    @media (max-width: 500px) {
      &--main {
        font-size: 1.8rem;
      }
      &--sub {
        font-size: 2.75rem;
      }
    }

    @media (max-width: 400px) {
      &--main {
        font-size: 1.7rem;
      }
      &--sub {
        font-size: 2.7rem;
      }
    }
  }

  &__buttons {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    & > button {
      margin: 0 2.9rem;
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      & > button:last-child {
        margin-top: 3.5rem;
      }
    }
  }
}

.about-us {
  padding: 15rem;

  @media (max-width: 800px) {
    padding: 5rem;
    padding-top: 10rem;
  }

  @media (max-width: 450px) {
    padding: 3rem;
    padding-top: 8rem;
  }
  padding-top: 25rem;

  &__difference {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > p {
      position: relative;
      width: 82.5rem;
      margin-top: 15rem;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 700px) {
        margin-top: 5rem;
      }

      &::before {
        content: "";
        bottom: -5.75rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 25%;
        height: 1px;
        background-color: $color-black;
      }
    }
    @media (max-width: 1150px) {
      & > p {
        width: 100%;
      }
    }
  }

  &__cooler {
    margin-top: 30rem;

    @media (max-width: 700px) {
      margin-top: 15rem;
    }

    &__content {
      display: grid;
      grid-template-areas: "card preview";
      grid-template-columns: 1.5fr 1fr;
      grid-column-gap: 15rem;
      grid-row-gap: 5rem;

      margin-top: 15rem;

      @media (max-width: 1300px) {
        margin-top: 7rem;

        grid-template-columns: 1fr;
        grid-template-areas:
          "preview"
          "card";
      }

      &__card {
        grid-area: card;
        margin: auto 0;
        padding: 7rem 10rem;
        height: min-content;
        & > p {
          margin-top: 8rem;
        }

        & button {
          margin-top: 5rem;
        }

        @media (max-width: 800px) {
          padding: 5rem 3.5rem;
          & > p {
            margin-top: 2rem;
          }
        }
      }
      &__preview {
        grid-area: preview;

        @media (min-width: 1300px) {
          display: flex;
        }

        &__image {
          display: block;
          margin: auto;
          width: 100%;
        }
      }
    }
  }
}

.your-help {
  padding: 15rem;

  @media (max-width: 800px) {
    padding: 5rem;
  }

  @media (max-width: 450px) {
    padding: 3rem;
  }

  padding-top: 5rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18rem;
    row-gap: 2.5rem;
    margin-top: 15rem;
    @media (max-width: 700px) {
      margin-top: 8rem;
    }

    @media (max-width: 1450px) {
      grid-template-columns: 1fr;
    }
  }
}

.contact-us {
  padding: 15rem;
  @media (max-width: 800px) {
    padding: 5rem;
  }
  @media (max-width: 450px) {
    padding: 3rem;
  }
  padding-top: 5rem;

  &__content {
    display: grid;
    grid-template: "info form form";
    grid-row-gap: 5rem;
    margin-top: 15rem;

    @media (max-width: 1425px) {
      margin-top: 5rem;

      grid-template:
        "info"
        "form";
    }

    @media (max-width: 575px) {
      display: block;
    }

    &__info {
      grid-area: info;

      &__email {
        margin-top: 5.5rem;
      }
    }
    &__form {
      display: block;
      grid-area: form;

      @media (max-width: 1050px) {
        & > button {
          display: block;
          margin: 0 auto;
        }
      }

      @media (max-width: 575px) {
        margin-top: 5rem;
      }

      & input {
        margin-bottom: 5rem;
      }

      & textarea {
        margin-bottom: 5rem;
      }

      &__inline-inputs {
        display: flex;
        justify-content: space-between;

        & > input:first-child {
          margin-right: 5rem;
        }

        @media (max-width: 1050px) {
          flex-direction: column;
          & > input:first-child {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
