.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4.5rem 9rem;
  padding-bottom: 1rem;
  width: -webkit-fill-available;
  z-index: 999;
  display: flex;
  color: $color-ghost-white;

  @media (max-width: 675px) {
    padding: 3rem;
  }

  &--no-fix {
    position: relative;
  }

  &__logo {
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    & img {
      display: block;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 475px) {
      width: 10rem;
      height: 10rem;
    }
  }

  &__link {
    display: inline-block;
    margin-right: 5rem;

    & > a {
      text-decoration: none;
      user-select: none;
      color: $color-ghost-white;
      text-transform: uppercase;
      cursor: pointer;
      // TODO: Change to nicer animation later
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $color-gray-light-2;
        transform: translateY(-2px);
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }

  &__desktop {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: flex;

    @media (max-width: 1330px) {
      display: none;
    }
  }

  &__links {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 2.4rem;
    list-style: none;
    color: $color-ghost-white;

    &--inverted a {
      color: $color-black !important;
    }
  }

  & > button {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__menu-trigger {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: none;

    @media (max-width: 1330px) {
      display: block;
    }

    & > img {
      display: block;
      width: 9rem;
      height: 9rem;
      @media (max-width: 475px) {
        width: 7rem;
        height: 7rem;
      }
    }
  }

  &__mobile {
    position: absolute;
    display: none;
    z-index: 999;
    background-color: $color-side-nav-overlay;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &--active {
      display: block;
    }

    &__content {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40rem;
      background-color: $color-ghost-white;
      box-shadow: $shadow-1;
      padding: 4.5rem 2.5rem;

      @media (max-width: 450px) {
        width: 30rem;
      }
    }

    &__close {
    }

    &__logo {
      display: block;
      width: 14rem;
      height: 14rem;
      margin-top: 6rem;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 450px) {
        margin-top: 2rem;
      }
    }

    &__link {
      &s {
        position: relative;
        text-align: center;
        padding-bottom: 5.75rem;
        margin-top: 5rem;
        list-style: none;

        @media (max-width: 450px) {
          margin-top: 1.25rem;
          padding-bottom: 2rem;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 14rem;
          height: 3px;
          background-color: $color-gray-light-3;

          @media (max-width: 450px) {
            height: 1.5px;
          }
        }
      }
      & > a {
        text-decoration: none;
        user-select: none;
        font-size: 2.4rem;
        @media (max-width: 450px) {
          font-size: 2rem;
        }
        color: $color-black;
      }

      &--active {
        & > a {
          color: $color-primary;
        }
      }

      &:not(:first-child) {
        margin-top: 2.25rem;
      }
    }

    &__button {
      display: inherit;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
