%heading {
  line-height: 1.5;
  color: $color-black;
}

.heading-1 {
  @extend %heading;
  font-weight: 700;
  font-family: $font-display;
  font-size: 4.78rem;
}

.heading-2 {
  @extend %heading;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 2rem;
}

.heading-3 {
  @extend %heading;
  font-family: $font-display;
  font-weight: 700;
  font-size: 4rem;
}
